# 基本は以下の様にこの`.envrc`ファイル中でディレクトリ固有の環境変数を設定する
# export FOO='FOOBARBUZ'

# 同一ディレクトリの`.env`ファイルの環境変数を読み込むには以下の様にする
dotenv
# 以下の様にパス指定することも出来る
# dotenv ./.env.development

# ※ このファイルを変更・修正した時には『direnv allow』を実行して再読み込みが必要